@import "./common.scss";
.backPicture {
  // width: px2vw(750);
  box-sizing: border-box;
  padding-top: px2vh(54);
  padding-right: px2vw(23);
  padding-left: px2vw(23);
  padding-bottom: px2vh(42);
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background: url("~@/images/background1.jpg") no-repeat;
  position: relative;
  background-size:cover
  
}

// @media screen and (min-width: 820px){
//   .backPicture{
//      margin-left:$left-menu-width;
//      width: 80vw;
//      height: 100vh;
//   }
// }
