
.menuOutline{
  padding-left: 10px;
}



.itemStyle{
  height: 40px;
  display: flex;
  line-height: 40px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: transform .1s;
  // background-color: red;
}

.itemStyle:active{
  transform: scale(.95);
}


.menuItem{
  border-left: 1px solid rgba(161, 161, 161, 0.486);
  margin-left: 10px;
  transition: background-color .5;
  cursor: pointer;
}

.menuItem:active{
  transform: scale(0.95);
  background-color: gray;
}


.menuActive{
 background-color: rgba(128, 128, 128, 0.233); 
 border-left: 1px solid rgba(71, 71, 71, 0.815);
}

.menuItemActive{

}

.groupTitle{
  font-size: 14px;
  margin-left: 10px;
  color: rgba(163, 163, 163, 0.75);
  padding: 5px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.activeGroupId, .groupTitle:active{
  color: gray;
}

.menuItem:hover{
  background-color: rgba(128, 128, 128, 0.233);
}

.itemStyle img{
  width: 15px;
  height: 15px;
  padding: 12px;
}